/* Regole di resset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Section */
section {
  padding-top: 40px;
  margin: 0 auto;
  width: 80vw;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container {
  border-radius: 20px;
  overflow: hidden;
  min-height: 500px;
}
/* Row */
.row {
  display: flex;
  height: 500px;
}
.col-10 {
  width: calc(100% / 12 * 10);
}
.col-2 {
  width: calc(100% / 12 * 2);
}

/* Main slide */
.main-slide {
  height: 100%;
}
.main-slide .slide {
  position: relative;
  display: none;
}
.main-slide .slide.active {
  display: block;
}

/* Le slide */
.slide_info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: right;
  color: white;
  padding: 30px 20px;
}
.slide-menu {
  position: relative;
}
.slide-list {
  width: 100%;
  height: 100%;
}
.slide-menu .slide {
  width: 100%;
  height: 20%;
  position: relative;
}
.slide-menu .slide::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.6;
}
.slide-menu .slide.active::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 3px solid #838383;
}
.slide-menu .slide.active::after {
  opacity: 0;
}

/* Control Wrapper */
.controls-wrapper {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.control {
  width: 25px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  font-size: 20px;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
